.introSectionBox {
    padding: 3em;
}

.introTextBox a {
    text-decoration: none;
}

.introTextBox a:hover {
    color: purple;
    font-size: 1.2em;
    transition: .5s;
}

.introImageBox img {
    width: 50%;
}