.reflectionBox{
    margin-top: 6em;
}

main img{
    width: 50%;
    margin: auto;
}

.quickLinks ul li{
    list-style: none;
}

.btn-primary {
    margin: auto;
    background-color: var(--cute_pink);
    background-image: linear-gradient(to right, var(--baby_blue) 0%, var(--fresh_green) 50%, var(--cute_pink) 100%);
    border-radius: 20px;
    border: none;
}

.btn-primary:hover{
    padding: 1em;
    transition: .3s;
}

small{
    font-size: 12px;
}