:root {
    --baby_blue: #09b9d3;
    --fresh_green: #a2bc11;
    --cute_pink: #de99df;
    --white: #fff;
    --black: #000;

    font-size: 18px;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Algemene css voor alle pagina's START */
.pinkText {
    color: var(--cute_pink);
}

.pinkBG {
    background-color: var(--cute_pink);
}

.blueText {
    color: var(--baby_blue);
}

.blueBG {
    background-color: var(--baby_blue);
}

.greenText {
    color: var(--fresh_green);
}

.greenBG {
    background-color: var(--fresh_green);
}

/* Algemene css voor alle END */

/* ------------------------PAGINA HOME--------------------------- */
.headerBanner {
    background-image: url(/IMAGES/banner.png);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.robinLogo {
    width: 10%;
}

.myNavStyle a {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.myNavStyle a:hover {
    color: purple;
}

.headTitle {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--baby_blue);

    font-size: 4.5em;
}

.subTitle {
    font-size: 3em;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.introSectionBox {
    padding: 3em;
}

.introTextBox a {
    text-decoration: none;
}

.introTextBox a:hover {
    color: purple;
    font-size: 1.2em;
    transition: .5s;
}

.introImageBox img {
    width: 50%;
}

footer {
    background-attachment: fixed;
    padding: 2em;

}

footer a {
    text-decoration: none;
}

.linkedInIcon,
.instagramIcon,
.tumblrIcon,
.emailIcon {
    font-size: 1em;
}

.linkedInIcon i,
.instagramIcon i,
.tumblrIcon i,
.emailIcon i {
    text-decoration: none;
}